<!doctype html>




<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>Hello World</title>
    <meta name="description" content=Hello World Example for Web Installation Instructions />

    <script src="https://cdn.jsdelivr.net/npm/nunjucks@3/browser/nunjucks.min.js"></script>

    <script>
      "use strict";

      let input = new Map();
      let radio = new Set();
      let bool = new Set();
      let availableEnumValues = new Map();
    </script>

  </head>
  <body>
    <header class="container">
      <hgroup>
        <h1>Hello World</h1>
        <p>Hello World Example for Web Installation Instructions</p>
      </hgroup>
    </header>
    <main class="container">

      <form>

        
          
            
  <hgroup>
    <h4>My Number</h4>
    <p>A number to be echoed back.</p>
  </hgroup>
  <input type="number" name="mynum" id="mynum" placeholder="2024" aria-label="Number" onchange="render()" />
  <script>
    input.set("mynum", 2024)
  </script>

          
        
          
            
  <hgroup>
    <h4>My String</h4>
    <p>A string to be echoed back.</p>
  </hgroup>
  <input type="text" name="mystr" id="mystr" placeholder="Hello World! We have " aria-label="Text" onchange="render()" />
  <script>
    input.set("mystr", `Hello World! We have `)
  </script>

          
        
          
            
  <h4>Show Extras</h4>
  <fieldset>
    <label for="mybool">
      <input name="mybool" id="mybool" value="mybool" type="checkbox" role="switch" onchange="render()" checked />
      Check this if you want to see a helicopter.
    </label>
  </fieldset>
  <script>
    input.set("mybool", true)
    bool.add("mybool")
  </script>

          
        
          
            
  
  
    
  
    
  
    
  
    
  

  <script>
    availableEnumValues.set("mychoice", []);
  </script>

  <hgroup>
    <h4>Position</h4>
    <p>Where do you want the helicopter?</p>
  </hgroup>
  <fieldset>
    
      
      <label for="flying">
      
        <input type="radio" name="mychoice" id=flying onchange="render()"  />
      
        Flying - The helicopter will be flying.
      </label>

      <script>
        availableEnumValues.set("mychoice", [...availableEnumValues.get("mychoice"), "flying"]);
      </script>
    
      
      <label for="landed">
      
        <input type="radio" name="mychoice" id=landed onchange="render()" checked />
      
        Landed - The helicopter will be landed.
      </label>

      <script>
        availableEnumValues.set("mychoice", [...availableEnumValues.get("mychoice"), "landed"]);
      </script>
    
      
      <label for="distant">
      
        <input type="radio" name="mychoice" id=distant onchange="render()"  />
      
        Distant - The helicopter is far away.
      </label>

      <script>
        availableEnumValues.set("mychoice", [...availableEnumValues.get("mychoice"), "distant"]);
      </script>
    
      
      <label for="hidden">
      
        <input type="radio" name="mychoice" id=hidden onchange="render()"  />
      
        Hidden - The helicopter is hidden.
      </label>

      <script>
        availableEnumValues.set("mychoice", [...availableEnumValues.get("mychoice"), "hidden"]);
      </script>
    
  </fieldset>

  <script>
    input.set("mychoice", "landed")
    radio.add("mychoice")
  </script>

          
        
          
            
  
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

  <script>
    availableEnumValues.set("__os__", []);
  </script>

  <hgroup>
    <h4>OS</h4>
    <p>Your operating system (TempleOS is not being detected).</p>
  </hgroup>
  <fieldset>
    
      
        <input type="radio" name="__os__" id=windows onchange="render()"  />
      
      <label for="windows">
      
        Windows 10+  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "windows"]);
      </script>
    
      
        <input type="radio" name="__os__" id=linux onchange="render()"  />
      
      <label for="linux">
      
        GNU/Linux  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "linux"]);
      </script>
    
      
        <input type="radio" name="__os__" id=macos onchange="render()"  />
      
      <label for="macos">
      
        MacOS  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "macos"]);
      </script>
    
      
        <input type="radio" name="__os__" id=openbsd onchange="render()"  />
      
      <label for="openbsd">
      
        OpenBSD  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "openbsd"]);
      </script>
    
      
        <input type="radio" name="__os__" id=freebsd onchange="render()"  />
      
      <label for="freebsd">
      
        FreeBSD  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "freebsd"]);
      </script>
    
      
        <input type="radio" name="__os__" id=android onchange="render()"  />
      
      <label for="android">
      
        Android  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "android"]);
      </script>
    
      
        <input type="radio" name="__os__" id=ios onchange="render()"  />
      
      <label for="ios">
      
        IOS  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "ios"]);
      </script>
    
      
        <input type="radio" name="__os__" id=templeos onchange="render()"  />
      
      <label for="templeos">
      
        TempleOS  
      </label>

      <script>
        availableEnumValues.set("__os__", [...availableEnumValues.get("__os__"), "templeos"]);
      </script>
    
  </fieldset>

  <script>
    input.set("__os__", "None")
    radio.add("__os__")
  </script>

          
        
      </form>

      <h4>Instructions</h4>
      <div>
        <pre>
          <Code id="output"></Code>
        </pre>
      </div>
      <button id="copybtn" class="secondary" onclick="copyToClipboard()" style="width: 100%;">Copy</button>

    </main>
    <footer class="container">
      <small>
        <p>
          This website was generated using 
          <a href="https://github.com/instructions-d-installation/web-installation-instruction" class="secondary">web-installation-instruction</a>, 
          which is under 
          <a href="https://github.com/instructions-d-installation/web-installation-instruction/blob/main/LICENSE" class="secondary">Apache-2.0</a>,
          and utilizes 
          <a href="https://picocss.com/" class="secondary">Pico CSS</a>, licensed under 
          <a href="https://github.com/picocss/pico/blob/main/LICENSE.md" class="secondary">MIT</a>, and
          <a href="https://mozilla.github.io/nunjucks/" class="secondary">Nunjucks</a>, licensed under
          <a href="https://github.com/mozilla/nunjucks/blob/master/LICENSE" class="secondary">BSD-2-Clause</a>.
        </p>
      </small>
    </footer>

    <script>
      nunjucks.configure({ autoescape: true, trimBlocks: true, lstripBlocks: true });
      nunjucks.installJinjaCompat()

      const raiseRegex = /\[\[ERROR\]\](.*?)\[\[\/ERROR\]\]/g;

      
      const raiseMacro = "{% macro raise(error) %} [[ERROR]]{{ error }}[[/ERROR]] {% endmacro %}";
      

      const template = nunjucks.compile(raiseMacro + `{{ mystr }} {{ mynum }}

Your os is {{ __os__ }}?

{% if mybool %}
  {% if mychoice == "flying" %}
                                                                                         00000      
                                                                                    00000           
                00                                                             00000                
                  00000000                                                 00000                    
                          0000000                                     00000                         
                                   00000                         000000                             
                                            000              00                                     
                                                   00 0000000                                       
                                                000 000  0      00000000000000                      
                                        000     0 000000 0000                      0000000000000    
                               00000          000000 0 000   0000                                   
                       000000                00    0 0000       0000000000                          
   0   000 00                            00    00000    00  000 000  0000000                        
        000000                            0 00000 00 000000000000  000    00000                     
         0   00                         0000000  0 0000 0000000  000 000000     00 0000             
         0000000                      0000 0   0 0000000  0   000000000 000 00000000000             
          0  0 00                    00 00  000  0000000000 0000  0 0  0  000000000000              
          000000000               000 00 0 00 0000   000  0  0 00 0000000000000000                  
           000 00  0          000   0 0 00 00000 0000 0 000000000000000 000 00 0                    
          00000  00 0    00000      00000000000000 00000000000 000000 000000000                     
          0 00000 0   00    000 0000000  0    00 00000000000000000000000    0000                    
         0000000000000000000000000  000000000000 00000000000000       00                            
         0 000000 00000000000000     0000000000000 00    0                                          
        000  0000  0000 00      00000          00 0                                                 
         000    00000            00000         0          000                                       
            0000000               000                     00              


  {% elif mychoice == "landed" %}
    {% raw %}
█████████████████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓███████████████████
████▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█████████▓█▓▓▓
▓▓▓▓▓▓▓▓▓▒▓▒▒▒▓▓▓▓▒▓▓▒▓▓▓▓▓▓▒▒▒▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▒▓▓▒▓▒▒▒▒▒▒▒▒▓▓▓▒▒▒▒▒▒▒▒░░░▒▒▒▒▒▒░▒▒▒▒▒▒▒▒▒▓▒▒▒▒▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░▒░░░░░░░▒▒▒▒▒▒▒▒▒░░▒▒▒▒▒▒▒▒▒░░░▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒
▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒░▒▒▒▒▒▒▒▒░░░░░░░░░░▒▒▒▒▒▒░▒▒░░░▒▒▒▒▒▒▒▒░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░
▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒▓░░░░░░░▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░
▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░▓░░░░░░▒█████▓█░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒░░▒▒▒▒░▒░
░░▒░░░▒▒░░░░░░░░░░░░░░░░░░░░▒░░░░░░░███████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░█░░░░░░░░░███░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░█░░░░░░░░████░░█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░▓██▓▓░░░░█░░░░░█░░░░█░█░░░░░░██░░░░░░░░░░░░▓▓▒░░░░░░░░░░░░░░░░░
░░░░░██░░░░░░░░░░░░░░░░░░░░░█░░░░░░░░░▒░░░░░░░░░░░░░░░░░▓█▓░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░█████░░░▓▓███▒░▓▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░██▓▓█████▓░█▒░▓▓▓█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓▓██████▓▒█▓▒░░░░█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓████████░▓▓█████▓▓▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░████████████▓▓██████████▓░████░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░▒███▓▓░██▓███▓░▓█▓████████████░▓█░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░█▓█▒▓███▓██████▓██▒██░░█░░████░░░░░░░░░░░░░░░░▓░░░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░██▒█▓████░░░░███░████░░░░░░░░░░▓█▒░▓█░█░░░▓██▓░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░█░░▓▓░██░░░░░░░░▒███░▒▓▓▓▓▓▓▓▓▓▓██▓██▓█▓▓▓▓▓██▓██▓▓▓▓▓
▓▓▓▓▒▓▒▓▓▒░▓▓▓▒▓▒▓▒▒▒▒▒▓▓▒▓▒▒▒▒▒▒▒░▒▒▒░░▒░▒▒░░░▒░░░░░░▒░░▒▒░░▒▒░▒▒▒▒▒▒▒▒▒▓▓▓▒▓▓▓▓▓
▓▓▓▒▓▓▓▓▓▓░▒▒▒▒▒▓▒▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒▒▒▒▒▒▒░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▒▒▓▓▓▓▓▓▓▓▒▓▓
▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒▒░░░░▒░░░░░░░░░░░▒░░▒▒░░▒░▒▒▒▒░▒▒▒░░▒▒▒▒▒▓▒▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▒▓▓▓▓▓▓▓▒▓▒▒▒▒▒▒▒▒░▒▒▒▒░░▒░░░▒▒▒░▒▒▒▒░░░▒░▒▒░▒░▒░░░▒░▒▒▒▒▒▒▒▒▒▓▒▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▓▓▒░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▒▓▓▓▓▓▓▓▓▓▓▓▓▓
▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▓▒▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒░▒▒▒░░▒▒░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓

    {% endraw %}
  {% elif mychoice == "distant" %}
    {% raw %}


                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                       ≠≠π   √                                       
                                                    π=≠=≠∞                                           
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
                                                                                                     
√ππ                                                                                                  
√√∞√√√∞πππ π ππ                                                                                      
∞∞∞∞∞∞∞∞∞∞∞∞∞√√√√√√√√√√√√√√ ππ                                                                       
∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞√√√√√√√√√√√√√√√∞√√√√√√√√π√√π                                                       
∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞∞√∞∞√∞√√√∞∞√ππππ                                            
    {% endraw %}
  {% else %}
    {{ raise("Ups, this is an error message from within the template!") }}
  {% endif %}
{% endif %}`);


      const defaultProperties = {
        "__os__": getOS
      };

      for (const [property, defaultGetter] of Object.entries(defaultProperties)) {
        let defaultValue = input.get(property);
        if (defaultValue === "None") {
          defaultValue = null;
        }

        let availableValues = availableEnumValues.get(property);
        let realValue = defaultGetter();
        if (!availableValues.includes(realValue)) {
          realValue = null;
        }
        let resultValue = realValue ?? defaultValue;
        input.set(property, resultValue)

        if (resultValue) {
          document.getElementById(resultValue).checked = true;
        }
      }

      let defaultInput = structuredClone(input);

      let copyBtn = document.getElementById("copybtn");
      let outputElem = document.getElementById("output");
      let outputDefaultStyle = outputElem.style.getPropertyValue("--pico-code-color");
      let output;

      render()


      function render() {
        for (const key of input.keys()) {
          let val;
          if (radio.has(key)) {
            val = document.querySelector(`input[name="${key}"]:checked`)?.id;
          } else if (bool.has(key)) {
            val = document.getElementById(key)?.checked
          } else {
            val = document.getElementById(key)?.value || defaultInput.get(key);
          }
          input.set(key, val);
        }
        output = template.render(Object.fromEntries(input.entries()));
        let errmsg = raiseRegex.exec(output)?.[1];
        output = errmsg || output;
        outputElem.innerHTML = output;

        if (errmsg) {
          copyBtn.setAttribute("disabled", "disabled");
          outputElem.style.setProperty("--pico-code-color", "#ff6700");
        } else {
          copyBtn.removeAttribute("disabled");
          outputElem.style.setProperty("--pico-code-color", outputDefaultStyle);
        }
      }

      function copyToClipboard() {
        navigator.clipboard.writeText(output);
      }

      function getOS() {
        const userAgent = navigator.userAgent.toLowerCase();
        const supportedOS = {
          android: /.*android.*/g,
          ios: /.*iphone.*/g,
          windows: /.*windows.*/g,
          linux: /.*linux.*/g,
          macos: /.*macintosh.*/g,
          openbsd: /.*openbsd.*/g,
          freebsd: /.*freebsd.*/g
        };
        
        for (const os in supportedOS) {
          if (supportedOS[os].test(userAgent)) {
            return os;
          }
        }

        return null;
      }
    </script>

  </body>
</html>