<!doctype html>
{#
  Copyright 2024 Adam McKellar, Kanushka Gupta, Timo Ege

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. 
#}

{% import 'forms.html.jinja' as forms %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <title>{{ title }}</title>
    <meta name="description" content={{ description }} />
  </head>
  <body>
    <header class="container">
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </header>
    <main class="container">

      <form>

        {% for key, prop in properties.items() %}
          {% if prop.type == "number" %}
            {{ forms.number(prop) }}
          {% elif prop.type == "string" %}
            {{ forms.text(prop) }}
            <p>here</p>
          {% elif prop.type == "boolean" %}
            {{ forms.switch(prop) }}
          {% elif prop.type == "enum" %}
            {{ forms.radio(prop) }}
          {% else %}
            <p>
              Error occured @
              {{ prop | pprint }}
              with type
              {{ prop.type | pprint }}
            </p>
          {% endif %}
        {% endfor %}

        <input type="submit" value="Submit" />
      </form>

    </main>
  </body>
</html>